<footer>
    <nav class="navbar navbar-dark bg-dark">
        <div class="px-5 py-3">
            <span class="text-white-50">&copy; Yelpcamp by Daniel Giustini Perez</span>
        </div>
    </nav>
</footer>