<%- layout("layouts/boilerplate.ejs") %>
    <div class="text-center position-absolute top-50 start-50 translate-middle">
        <h1 class="mb-3">Welcome to Yelpcamp!</h1>
        <a href="/campgrounds"><button class="btn btn-success">Get Started</button></a>
    </div>