<%- layout("layouts/boilerplate.ejs") %>
    <h1>
        Please log in to use this feature
    </h1>
    <hr>
    <p>You need to be logged in to access "
        <%=url%>"
    </p>
    <a href="<%=url%>?user=loggedIn" class="btn btn-success">Login</a>
    <a href="/campgrounds" class="btn btn-outline-danger">Cancel</a>